asgiref==3.8.1
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.5
idna==3.7
packaging==24.0
pillow==10.3.0
pycparser==2.22
pyserial==3.5
pytz==2024.1
requests==2.31.0
rplidar==0.9.2
matplotlib>=3.5.0
numpy>=1.21.0
sqlparse==0.4.4
urllib3==2.2.1